parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/DependencyInjection
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::getRootNode\(\)#'
        - '#Parameter \#1 \$entity of method BytesCommerce\\EasyBlog\\Repository\\AbstractServiceRepository::add\(\) expects object, mixed given#'
        - '#Class Doctrine\\(ORM|Bundle\\DoctrineBundle)\\Repository\\(Lazy)?ServiceEntityRepository specifies template type T of interface Doctrine\\Persistence\\ObjectRepository as T of object but it.s already specified as object\.#'
        - '#Class Doctrine\\ORM\\EntityRepository specifies template type T of interface Doctrine\\Persistence\\ObjectRepository as T of object but it.s already specified as object\.#'
